{
  "rules": {
    "block-no-empty": true,
    "color-function-notation": [
      "modern",
      {
        "disableFix": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.scss",
        "**/*.scss"
      ],
      "customSyntax": "postcss-scss"
    }
  ]
}